<section class="h-full gradient-form bg-gray-200 md:h-screen">
  <div class="container py-12 px-6 h-full">
    <div class="flex justify-center w-full mx-auto sm:w-6/12 md:w-8/12 items-center flex-wrap h-full g-6 text-gray-800">
      <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-3">
        <%= image_tag('draw2.svg', class: 'w-full', alt: 'Phone image') %>
      </div>
      <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-6">
            <%= f.label :email, class: 'form-label' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
             class: 'form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounder transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' %>
          </div>

          <div class="mb-6">
            <%= f.label :password, class: 'form-label' %><br />
            <%= f.password_field :password, autocomplete: "current-password",
            class: 'form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounder transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="flex justify-between items-center mb-6 ">
              <div class="form-group form-check">
              <%= f.check_box :remember_me,
               class: 'form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer' %>
              <%= f.label :remember_me, class: 'form-check-label inline-block text-gray-800' %>
              </div>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>

          <div class="mb-3">
            <%= f.submit "Sign in",
             class: "inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"%>
          </div>
        <% end %>
      </div>
    </div>    
  </div>
</section>
  

 

  

  
