<div id="<%= dom_id post %>">
  <div>
    <%= image_tag(post.images, class: "rounded-t-lg h-36 items-center") if post.images.persisted? %>
    
    <h1 class="text-black text-center text-gray-900 text-3xl m-2">
      <%= post.title %>
    </h1>

    <p class="text-lg p-2 font-medium break-words ">
      <%= post.content %>
    </p>

    <p class=" text-center p-2">
      <strong>Author:</strong> <%= link_to post.author.name, edit_user_registration_path, class: 'p-1 text-sky-500 dark:text-sky-400' %>
    </p>
  </div>
</div>
