<div class="container py-12 px-6 h-full">
  <div id="<%= dom_id post %>" class="flex flex-1 justify-center">
    <div class="rounded-lg shadow-lg bg-white max-x-sm">
      <%= image_tag(post.images, class: 'rounded-t-lg h-32 items-center', alt: 'Phone image') %>
      <h1 class="card-title">
        <%= post.title %>
      </h1>

      <p class="text-lg font-medium ">
        <%= post.content %>
      </p>

      <p class="text-sky-500 dark:text-sky-400">
        <%= post.author.name %>
      </p>
    </div>

  </div>
</div>
