<div id="posts">  
  <div class=" flex flex-1 m-10 justify-end">
    <%= link_to "New post", new_post_path, class: 'px-7 py-3 font-medium text-sm  uppercase rounded shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-lg btn-primary-outline hover:text-white hover:bg-primary-500 focus:ring-0  transition duration-150 ease-in-out w-46'  %>
  </div>
  <h1 class="flex justify-center text-center px-8 py-4 text-5xl text-black">Posts: <%= @posts.count %>/ <%= Post.count %></h1> 
  <div class="grid grid-cols-4 gap-4 ">
    <% @posts.each do |post| %>
      <div class="flex justify-center w-full mx-auto sm:w-6/12 md:w-8/12 items-center flex-wrap h-full g-6 text-gray-800">
        <div class="bg-white p-8 rounded-md shadow-lg" >
          <%= render post %>
          <%= link_to "Show this post", post, class: 'inline-block px-7 py-3 font-medium text-sm leading-snug uppercase rounded shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-lg btn-primary-outline hover:text-white hover:bg-primary-500 focus:ring-0  transition duration-150 ease-in-out w-full'  %>
        </div>
      </div>    
    <% end %>
  </div>        
  <% if @pagy.pages > 1 %>
    <div class="flex justify-center mt-5 ">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
